html,
body {
  height: 350%;
  overflow: hidden;
}

:root {
  font-size: 2vw;
  font-family: Itim, sans-serif;
}

<<<<<<< HEAD

=======
body {
  display: grid;
  place-content: center;
  background-color: whitesmoke;
}
>>>>>>> a46d7e8c3c0fee386db2014eee5cf65490e112e9

nav {
  position: relative;
  color: #aef;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0 1.25rem;
}

svg {
  color: #ff2;
  overflow: visible;
}

path {
  --factor: 1;
  transition: all calc(0.4s * var(--factor)) ease-in-out;
}

a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  font-size: 2.75rem;
  line-height: 1.25;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

a.active {
  color: #ff2;
}

.button {
  background-color: #60e2eb;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 16px;
}
